body {
    background-color: #E3D5C1;
    color: #000000;
    font-family: 'Zen Antique Soft', serif;
    margin-left: 10rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Zen Antique Soft', serif;
    font-size:2rem;
    font-weight:300;
    color: #000000;
    text-align: left;
    
}
/* Header */
#header {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px; 
    border:#765729}

#header nav a{
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
        display: flex; 
        flex-direction: column; 
    }

#header img {
    width: 100% !important;
    height: auto !important;
    /* why won't it resize? i've tried everything i could think of D: */
}

/* The Book Section */
#cover, footer {
    border: 5px solid #765729;
    text-align: left;
    background: #E3D5C1;
    color: #000000;
    padding:10px; }
    
#cover {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
        -webkit-column-rule: 1px solid rgba(118,87,41,0.38);
        -moz-column-rule: 1px solid rgba(118,87,41,0.38);
        column-rule: 1px solid rgba(118,87,41,0.38);
        }
        /* tried to use someone else's code because my attempts weren't
        working but this didn't work either so https://html-css-js.com/css/generator/column/ */

#cover img 
{
    max-width:100 !important;
    height: auto !important;
}

