body {
    background-color: #886644;
    color: #000000;
    font-family: 'Zen Antique Soft', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Zen Antique Soft', serif;
    font-size:2rem;
    color: #000000;
    text-align: left;
    
}

header {
    text-align: left;
}

#header img {
    width: 350px;
}

/* The Book Section */
#cover, footer {
    text-align: left;
    background: #F9EAD8;
    color: #000000;
    padding:10px;

}

#cover img {
    width: 350px;
}