body {
    background-color: #886644;
    color: #000000;
    font-family: 'Zen Antique Soft', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Zen Antique Soft', serif;
    font-size:2rem;
    color: #000000;
    text-align: left;
    
}

#header {
    text-align: left;
    padding-top: 60px;
    padding-bottom: 40px; }

    nav a{
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
    }
    .container p{
        line-height: 200px; }
    
    .fixed-header, .fixed-footer{
      width: 100%;
      position: fixed;        
      background: #333;
      padding: 10px 0;
      color: #fff;
  }
  .f
    .fixed-header{
      top: 0;
  }
  .fixed-footer{
      bottom: 0;
}

#header img {
    height: 300px;
}

/* The Book Section */
#cover, footer {
    text-align: left;
    background: #886644;
    color: #000000;
    padding:10px;

}

#cover img 
{
    max-width:50%;
}